html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

p {
	padding-left: 1em;
}

img {
	width: 100%;
}

/* ------------ MASTHEAD ------------------- */
h1 {
	margin: 0;
	display: inline-block;
	padding-left: .15em;
	padding-top: .15em;
	font-size: 2.5rem;
	color: #444444;
}

.masthead-div {
	display: inline-block;
}

.logo-svg {
	width: 65px;
	padding-top: 25px;
}

.buy-button {
	display: inline-block;
	margin: 0;
	margin-left: 15px;
	padding-right: .50em;
	padding-left: .50em;
	background-color: #444;
	border-radius: 10px;
	text-align: center;
}

.buy-a {
	color: #fff;
}
.buy-a:hover {
	color: purple;;
}


/* --------------- NAV ---------------------- */
.nav-ol {
	list-style-type: none;
}

.nav-li {
	display: inline;
	padding-right: 2em;
}


.nav-ol:hover {
	color: pink;
}



/* --------------- BANNER IMAGE ---------------------- */
.banner-div {
	position: relative;
}

.banner-h2{
	margin: 0;
	padding-left: 1em;
	color: #fff;
	text-align: center;
}

.banner-p {
	color: #fff;
	margin: 0;
	text-align: center;
}

.hero-content {
	position: absolute;
	bottom: 90px;
	margin: 0;
	width: 100%;
	bottom: 0;
	padding-bottom: 6em;
}


/* --------------- SEVEN WONDERS ---------------------- */
h2 {
	color: red;
	text-align: center;
}

.h2-imgs {
	padding-right: .5em;
	padding-left: 1.50em;
	width: 90%;
}

dl {
	display: inline;
}

.box-1 {
	background-color: red;
	float: left;
	padding-bottom: 3em;
	width: 33.3%;
}

.box-2 {
	background-color: pink;
	float: right;
	padding-bottom: 3em;
}

.box-3 {
	background-color: blue;
	float: right;
	padding-bottom: 3em;
}

.href {
	clear: both;
}

/* --------------- TICKETS ---------------------- */
.ticket-links {
	background-color: red;
	padding-left: 2em;
}


/* --------------- MEMBERSHIPS ---------------------- */








/* --------------- CALENDAR ---------------------- */
h3 {
	margin: 0;
	padding-left: 1em;
}

.calendar-ol {
	padding-left: 1em;
	margin: 0.25em 0.25em;
	list-style-type: none;
}

.calendar-li {
	background-color: red;
	list-style-type: none;
}

/* --------------- FOOTER ---------------------- */
.footer-div {
	background-color: lightgrey;
	margin-top: 1em;
	padding-top: 0.50em;
}

.footer-p {
	padding-left: .65em;
}
