html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 320px;
	background-color: #ede8e4;
}

a {
	text-decoration: none;
}

p {
	padding-left: .25em;
}

img {
	width: 100%;
}

/* ------------ MASTHEAD ------------------- */
h1 {
	margin: 0;
	display: block;
	padding-left: .15em;
	padding-top: .15em;
	font-size: 2.5rem;
	color: #000;
	float: right;
	clear: both;
	margin: 0 auto;
}

.masthead-div {
	display: inline-block;
	padding: 1em;
}

.logo-svg {
	width: 45px;
	padding-top: 25px;
}

/* --------------- NAV ---------------------- */
.nav-ol {
	list-style-type: none;
	background-color: #a16aa8;
	overflow: hidden;
	font-weight: bold;
	padding: 0;
}

.nav-li {
	float: left;
	width: 25%;
	font-size: 1rem;
}

nav a:hover {
	color: #000;
}

nav a {
	display: inline-block;
	padding: .4em;
	text-decoration: none;
	color: #ede8e4;
}


/* --------------- BANNER IMAGE ---------------------- */
.banner-div {
	position: relative;
	top: -16px;
}

.banner-h2{
	margin: 0;
	padding-left: 1em;
	color: #ede8e4;
	text-align: center;
	font-size: 1rem;
}

.banner-p {
	color: #ede8e4;
	margin: 0;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.hero-content {
	position: absolute;
	bottom: 0px;
	margin: 0;
	width: 100%;
	bottom: 0;
	padding-bottom: 1em;
}


/* --------------- SEVEN WONDERS ---------------------- */
h2 {
	color: #a16aa8;
	font-weight: bold;
	margin: 0;
	padding-left: .5em;
}

.h2-imgs {
	margin-top: .5em;
}

dd {
	text-decoration: none;
	text-align: left;
	margin: 0;
	padding-left: 1em;
}

dt {
	padding-left: 1em;
	font-weight: bold;
}

.div-1 {
	float: left;
	width: 33.33%;
	margin-bottom: 1.25em;
}

.div-2 {
	float: left;
	width: 33.33%;
	margin-bottom: 1.25em;
}

.div-3 {
	float: right;
	width: 33.33%;
	margin-bottom: 1.25em;
}

.more-btn {
	margin-left: .95em;
	padding: .20em;
	color: #000;
	border: solid #a16aa8;
	font-weight: bold;
	float: left;
}

dl {
	margin-bottom: 1em;
	padding-bottom: 6em;
}

/* --------------- TICKETS ---------------------- */
.h2-2 {
	font-weight: bold;
	background-color: #a16aa8;
	color: #ede8e4;
	margin-top: 2.5em;
	padding: .25em;
}


figure {
	padding: 0;
	margin: 0;
}

.links {
	background-color: #ede8e4;
	border: solid #a16aa8;
	text-align: center;
	margin-left: .5em;
	padding: .25em;
	font-weight: bold;
	color: #000;
}

.tix-p {
	margin-bottom: 1em;
	font-size: 1rem;
	width: 90%;
	margin-left: .25em;
}

.links-2 {
	background-color: #ede8e4;
	border: solid #a16aa8;
	text-align: center;
	margin-left: .5em;
	padding: .25em;
	color: #000;
	font-weight: bold;
}

.movie-link {
	background-color: blue;
	border: solid #000;
	text-align: center;
	margin-left: 14em;
}


.atl-div {
	position: relative;
}

.atl-p {
	position: absolute;
	bottom: 50px;
	color: #000;
	font-weight: bold;
	font-size: 1rem;
	width: 95%;
	right: 15px;
	background-color: rgba(237, 232, 228, .5);
}

.atl-link {
	position: absolute;
	bottom: 10px;
	right: 100px;
	color: #000;
	font-weight: bold;
	background-color: rgba(237, 232, 228, .95);
	padding: .05em;
}




/* --------------- CALENDAR ---------------------- */
.h2-3 {
	font-weight: bold;
	background-color: #a16aa8;
	padding-bottom: .5em;
	color: #ede8e4;
}

h3 {
	margin: .5em 0 0 .5em;
}

.calendar-ol {
	margin: 0.25em 0.25em;
	list-style-type: none;
	padding-left: .5em;
}

.calendar-ul {
	list-style-type: none;
	padding: 0;
	margin-left: .5em;
	width: 90%;
}


/* --------------- FOOTER ---------------------- */
.footer-div {
	background-color: rgba(161, 106, 168, .15);
	margin-top: 1em;
	padding-top: 0.50em;
	padding-bottom: 1em;
}

.footer-p {
	padding-left: 2em;
}

.phonep {
	padding: 0;
}

.footer-hrs {
	padding-left: 1em;
	background-color: #ede8e4;
	padding: .25em;
	border: solid #a16aa8;
	color: #000;
	font-weight: bold;
}

.footer-hrs:hover {
	color: #a16aa8;
}

.footer-ad {
	padding: 0;
}

.footer-link {
	display: block;
	padding: 0;
	color: #000;
}

.footer-link:hover {
	color: #a16aa8;
}

/* --------------- MEDIA QUERIES ---------------------- */
@media only screen and (min-width: 38em) {

	.title {
		display: inline-block;
		font-size: 4rem;
		padding: 0;
}

	.logo-svg {
		margin: 0 auto;
		padding-top: 1.1em;
}

	.banner-h2 {
		font-size: 1.75rem;
	}

	.hero-content {
		top: 55px;
	}


	h2 {
		text-align: center;
}

	.more-btn {
		margin-left: 10.5em;
	}


	.links, .links-2 {
		margin-left: 8em;
	}

	.atl-p{
		left: 140px;
		top: 100px;
		bottom: 130px;
		font-size: 1.5em;
		width: 60%;
		text-align: center;
		padding: 0;
	}

	.atl-link {
		left: 260px;
		padding: .5em;
		right: 240px;
		width: 20%;
		bottom: 80px;
	}


}

@media only screen and (min-width: 50em) {

	.masthead-div {
		background-color: #ded0d2;
}

	.title {
		text-align: center;
		color: red;
	}
}







@media only screen and (min-width: 60em) {

.masthead-div {
	display: inline;
	padding: 2em;
}

	.buy-button {
		padding: 0;
		padding-bottom: 1.75em;
}

	.banner-h2 {
		font-size: 2em;
	}

.banner-p {
	font-size: 1.5em;
}
	.hero-content {

	}


	h2 {
		text-align: center;
		font-size: 1.5rem;
		padding: 1em;
}

	.h2-imgs {
		width: 95%;
		margin-left: 2em;
		margin-top: 1em;
		padding: 2em;
	}

	.more-btn {
		margin-left: 20.5em;
		padding: 1em;
		margin-bottom: 1.75em;
	}


	.links, .links-2 {
		margin-left: 15em;
	}

	.atl-p{
		left: 180px;
		top: 130px;
		bottom: 270px;
		text-align: center;
		padding: .5em;
	}

	.atl-link {
		left: 390px;
		padding: .5em;
		right: 240px;
		width: 13%;
		bottom: 190px;
		padding: .55em;
	}

	.h3-ol, .calendar-ul, h3 {
		text-align: center;
	}

}


@media only screen and (min-width: 90em) {

	.h2-imgs {
		float: left;
		margin: 0;
		width: 50%;
		padding: 0;
	}


}
