html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

p {
	padding-left: 1em;
}

img {
	width: 100%;
}

/* ------------ MASTHEAD ------------------- */
h1 {
	margin: 0;
	display: inline-block;
	padding-left: .15em;
	padding-top: .15em;
	font-size: 2.5rem;
	color: #000;
}

.masthead-div {
	display: inline-block;
	padding: 1em;
}

.logo-svg {
	width: 65px;
	padding-top: 25px;
}

.buy-button {
	display: inline-block;
	margin: 0;
	margin-left: 15px;
	padding-right: .50em;
	padding-left: .50em;
	background-color: #a16aa8;
	border-radius: 10px;
	text-align: center;
}

.buy-a {
	color: #fff;
}
.buy-a:hover {
	color: purple;;
}


/* --------------- NAV ---------------------- */
.nav-ol {
	list-style-type: none;
	text-align: center;
	background-color: red;
	overflow: hidden;
	font-weight: bold;
}

.nav-li {
	float: left;
	width: 25%;
}

nav a:hover {
	color: grey;
}

nav a {
	display: block;
	padding: .4em;
	text-decoration: none;
	color: pink;
}


/* --------------- BANNER IMAGE ---------------------- */
.banner-div {
	position: relative;
	top: -16px;
}

.banner-h2{
	margin: 0;
	padding-left: 1em;
	color: #fff;
	text-align: center;
}

.banner-p {
	color: #fff;
	margin: 0;
	text-align: center;
}

.hero-content {
	position: absolute;
	bottom: 90px;
	margin: 0;
	width: 100%;
	bottom: 0;
	padding-bottom: 6em;
}


/* --------------- SEVEN WONDERS ---------------------- */
h2 {
	color: red;
	text-align: center;
	margin: 0;
}

.h2-imgs {
	width: 90%;
	margin: 1em;
	padding-top: 1em;
}

dd {
	text-decoration: none;
	text-align: left;
	margin: 0;
	padding-left: .93em;
}

dt {
	padding-left: .93em;
}

.div-1 {
	float: left;
	width: 33.3%;
}

.div-2 {
	float: left;
	width: 33.33%;
}

.div-3 {
	float: right;
	width: 33.33%;
}

.more-btn {
	background-color: blue;
	overflow: hidden;
	margin-left: 8em;
	padding-right: 2.5em;
	padding-left: 2.5em;
	margin-top: .5em;
}




/* --------------- TICKETS ---------------------- */
.atl-img {
	margin: -1em 0 0 2.5em;
	width: 95%;
}
.h2-2 {
	font-weight: bold;
	background-color: red;
	color: #000;
	margin-top: 2.5em;
}

.links {
	background-color: blue;
	border: solid #000;
	text-align: center;
	margin-left: 8em;
}

.tix-p {
	text-align: center;
	margin-bottom: 2em;
}

.links-2 {
	background-color: blue;
	border: solid #000;
	text-align: center;
	margin-left: 8em;
}

.movie-link {
	background-color: blue;
	border: solid #000;
	text-align: center;
	margin-left: 14em;
}


.atl-div {
	position: relative;
}

.atl-p {
	position: absolute;
	bottom: 150px;
	color: #fff;
	width: 50%;
	right: 135px;
	text-align: center;
}

.atl-link {
	position: absolute;
	bottom: 80px;
	right: 230px;
	color: #fff;
	font-weight: bold;
}




/* --------------- CALENDAR ---------------------- */
.h2-3 {
	font-weight: bold;
	background-color: red;
	padding-bottom: .5em;
	color: #000;
}

h3 {
	margin: 0;
	padding-left: 1em;
	padding-top: .5em;
	background-color: red;
}

.calendar-ol {
	padding-left: 1em;
	margin: 0.25em 0.25em;
	list-style-type: none;
	padding-left: 1em;
}


.calendar-ul {
	background-color: pink;
	list-style-type: none;
}

/* --------------- FOOTER ---------------------- */
.footer-div {
	background-color: lightgrey;
	margin-top: 1em;
	padding-top: 0.50em;
	padding-bottom: 1em;
}

.footer-p {
	padding-left: 2em;
}

.email {
	text-transform: italic;
}

.footer-link {
	display: block;
	padding-left: 2em;
}
